.header_wrapper {
  width: 100%;
  height: 70px;
  background-color: #F5F5F5;
  display: flex;
}

.header_logo {
  margin-top: 25px;
  margin-left: 10px;
  flex: 3;

  a {
    text-decoration: none;
  }

  a:hover, a:visited {
    color: black;
  }
}

.header_profile {
  max-width: 200px;
  margin-top: 17px;
  margin-left: 10px;
  flex: 1;
  display: flex;

  a {
    margin-top: 10px;
    text-decoration: none;
    color: black;
  }

}

.header_profile_not_auth {
  margin-top: 15px;
  margin-left: 10px;
  flex: 1;
  display: flex;
}

.header_add_new_game {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 20px;

  button {
    width: 100px;
    height: 30px;
    color: black;
    background-color: #F5F5F5;
    border: none;
    cursor: pointer;
  }
}

.button_send {
  width: 150px;
  height: 35px;
  background: #5078F2;
  border-radius: 6px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.button_logout {
  width: 100px;
  height: 35px;
  background: #5078F2;
  border-radius: 6px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}
