.add_new_game_wrapper {
  width: 500px;
  margin: auto;
  border: solid 3px #F5F5F5;
  padding: 10px;
}

.add_new_game_input {
  width: 100%;
  height: 50px;
  flex: 1;
}

.add_new_game_button {
  width: 100%;
  height: 50px;
  flex: 1;
}

.input {
  margin-top: 10px;

  label {
    font-size: 16px;
    line-height: 19px;
  }

  input, select, textarea {
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #E4E8F5;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 22px;

    &:disabled {
      background: #E4E8F5;
    }
  }

  input, select {
    height: 44px;
  }

}

.button_wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 30px;
}

.button_send {
  width: 200px;
  height: 35px;
  background: #5078F2;
  border-radius: 6px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

